/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  border: none;
  display: block;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.alt {
  display: inline-block;
  width: 50%;
}

#formAgregarCliente .form-control {
  margin: 10px 0;
}

#formAgregarClienteFact .form-control,
#formEditarCliente .form-control {
  margin: 10px 0;
}

.invalido {
  border: 2px solid red !important;
}

.bootbox-body {
  font-size: 1.6em;
}

.bootbox .modal-footer {
  display: -webkit-box;
}

.bootbox .btn {
  width: 49%;
  display: inherit;
}

th {
  text-align: center;
}

tbody {
  text-align: center;
}

.thumb {
  height: 100%;
  width: 100%;
}

.imagenes-uploads .image-wrapper {
  width: 250px;
  height: 250px;
  margin: auto;
  background-color: gray;
  position: relative;
}

.imagenes-uploads .image-wrapper:hover {
  cursor: pointer;
}

.imagenes-uploads .fa-plus {
  color: white;
  font-size: 50px;
}

.imagenes-uploads .btn-danger {
  color: white;
    border-radius: 100%;
    position: absolute;
    top: -15px;
    right: 0;
    z-index: 65454;
}

.imagenes-uploads .centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}