.noticias-relevantes {
  padding: 50px;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  display: table;
  text-align: center;
  background-color: #5D4E60;
  color:white;
}

.whiteBack {
	background-color: white;
  color:#5D4E60;
}